<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021_AP_650_2021_VF_601</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021_AP_650_2021_VF_601.styles.css" asp-append-version="true" />
</head>
<body>
    <header class=" bg-dark">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col mx-auto align-items-center p-5 text-white ">
                    <div class="text-center">
                        <img src="https://acaai.org.gt/wp-content/uploads/2020/02/Logo-UNICAES-OFICIAL-923x1024.png" class="img-fluid mx-auto" alt="Logo de la universidad" />
                    </div>
                    <br />
                    <div class="text-center">
                        <h2>Venta de Libros</h2>
                        <h5>Seleccione los libros y posterior ingrese sus datos</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="mx-auto align-items-center justify-content-center container p-5 text-white ">
            <h5 class="text-center">2021-AP-650 - Xavier Alexander Ávila Posada</h5>
            <h5 class="text-center">2021-VF-601 - Bryan Alberto Vásquez Farfán</h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
